<h1><%= @game.player_1.name + ' vs ' + @game.player_2.name + ' (' + @game.player_2.hp.to_s + ' HP)'%></h1>

<a href="attack">Attack <%= @game.opponent.name %></a>

<%= @game.turn.name %> was just attacked!
